div#village {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	cursor: default;
	padding: 5px 10px;
	width: 200px;
}

div#population {
	position: absolute;
	top: -13px;
	right: 10px;
	background-color: white;
}

.noHuts #population {
	display: none;
}

div#village:before {
	position: absolute;
	background: white;
	content: attr(data-legend);
	left: 8px;
	top: -13px;
}

div#workers {
	position: relative;
	top: auto;
	left: auto;
	width: auto;
	margin-top: 10px;
}

.workerRow > .row_val {
	position: relative;
	padding-right: 36px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#workers .upBtn,
div#workers .dnBtn {
	right: 16px;
}

div#workers .upManyBtn,
div#workers .dnManyBtn {
	right: 0;
}

.workerRow {
	position: relative;
	margin: 10px 0px;
	cursor: default;
}

.workerRow .tooltip {
	width: 150px;
}

div.storeRow div.tooltip {
	width: 160px;
}

@media (max-width: 900px) {
	div#village {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		width: auto;
		margin-bottom: 10px;
	}

	div#workers {
		position: relative;
		top: auto;
		left: auto;
		margin-top: 10px;
	}

	div#outsidePanel > div#gatherButton,
	div#outsidePanel > div#trapsButton {
		display: block;
		position: relative;
		z-index: 2;
		margin-top: 8px;
	}
}
